*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.idea
/**/.idea/workspace.xml

# Mac
.DS_Store

# Maven
log/
target/

# Ignore VLT files
*.vlt
*.vlt-sync.log
*.vlt-sync-config.properties
 
# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart
content/src/main/content/jcr_root/apps/twitter-feed-page/components/googleMap/googleMap.jsp.base
content/src/main/content/jcr_root/apps/twitter-feed-page/components/googleMap/googleMap.jsp.mine
content/src/main/content/jcr_root/apps/twitter-feed-page/components/googleMap/googleMap.jsp.theirs
